<div class="container">
  <h1>Welcome to Usloyd's Url shortner!</h1>
  <h3>Enter your Url to be shortened below:</h3>
  <form action="/urls" method="post">
    <input type="text" name="long_input">
    <input type="submit" value="Usloydify your Url!">
</div>
